<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Welcome to <%= restaurant?.name || 'The Green Byte Bistro'%></h1>
    <% if (restaurant) { %>
        <% if (restaurant.isOpen) {  %>
        <p> Yes, We are open!</p>
    <% } else { %>
        <p> Sorry, we are closed. </p>
    <% } %>
    <% } else { %>
        <p> No restaurant data available. </p>
        <% } %>
        <p>Address: <%= restaurant?.address || '742 Evergreen Rd, Mapleview, OS 45502' %></p>
    <p>Phone: <%= restaurant?.phone || '555-321-9876' %></p>
</body>
</html>